models/Saint_Antoine_trained/siamese/siamese8_stage1
references/variables/saint_antoine_embeddings_si8.obj
models/Barcelona_trained/siamese1_stage1
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster0.png
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster1.png
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster2.png
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster3.png
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster4.png
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster5.png
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster6.png
reports/saint_antoine_walls/saint_antoine_training/batch_5/cluster7.png
models/Saint_Antoine_trained/siamese8_stage1
reports/barcelona_saint_antoine_walls/batch_1/cluster0.png
reports/barcelona_saint_antoine_walls/batch_1/cluster1.png
reports/barcelona_saint_antoine_walls/batch_1/cluster2.png
reports/barcelona_saint_antoine_walls/batch_1/cluster3.png
reports/barcelona_saint_antoine_walls/batch_1/cluster4.png
reports/barcelona_saint_antoine_walls/batch_1/cluster5.png
reports/barcelona_saint_antoine_walls/batch_1/cluster6.png
reports/barcelona_saint_antoine_walls/batch_1/cluster7.png
models/Matek_trained/siamese6_stage1
reports/matek_walls/matek_training/batch_1/cluster0.png
reports/matek_walls/matek_training/batch_1/cluster1.png
reports/matek_walls/matek_training/batch_1/cluster2.png
reports/matek_walls/matek_training/batch_1/cluster3.png
reports/matek_walls/matek_training/batch_1/cluster4.png
reports/matek_walls/matek_training/batch_1/cluster5.png
reports/matek_walls/matek_training/batch_1/cluster6.png
reports/matek_walls/matek_training/batch_1/cluster7.png
models/Saint_Antoine_trained/siamese9_stage1
src/data/__pycache__/create_variables.cpython-310.pyc
src/data/__pycache__/create_variables.cpython-310.pyc
src/models/siamese/__pycache__/siamese_models.cpython-310.pyc
models/barcelona_trained/siamese1_stage1
models/barcelona_trained/siamese3_stage1
models/matek_trained/siamese6_stage1
models/mixed_sources_trained/barcelona_saint_antoine/siamese1
models/saint_antoine_trained/siamese8_stage1
models/saint_antoine_trained/siamese9_stage1
references/variables/barcelona_embedding_trains.obj
references/variables/barcelona_embedding_valids.obj
models/mixed_sources_trained/barcelona_saint_antoine/siamese2
src/models/siamese/__pycache__/siamese_models.cpython-310.pyc
src/main.py
src/models/siamese/__pycache__/siamese_models.cpython-310.pyc
src/models/siamese/__pycache__/siamese_models.cpython-310.pyc
src/visualisation/__pycache__/KNN.cpython-310.pyc
src/models/siamese/__pycache__/siamese_models.cpython-310.pyc
data/Single_cells/
models/tmp3ax1u6yw/_tmp.pth
models/test_classifier
models/test_siamese
models/test_siamese_classifier_head
reports/.~lock.summary of the results.ods#
src/__pycache__/main.cpython-310.pyc
src/data/__pycache__/create_variables.cpython-310.pyc
src/data/__pycache__/siamese_image.cpython-310.pyc
src/data/__pycache__/create_variables.cpython-310.pyc
src/data/__pycache__/siamese_image.cpython-310.pyc
src/models/__pycache__/encoder_head_model.cpython-310.pyc
src/data/__pycache__/create_variables.cpython-310.pyc
src/data/__pycache__/siamese_image.cpython-310.pyc
src/models/siamese/__pycache__/siamese_models.cpython-310.pyc
src/visualisation/__pycache__/clusters.cpython-310.pyc
src/visualisation/__pycache__/KNN.cpython-310.pyc
src/visualisation/__pycache__/make_embeddings.cpython-310.pyc
src/data/__pycache__/create_variables.cpython-310.pyc
src/data/__pycache__/siamese_image.cpython-310.pyc
src/models/__pycache__/create_model.cpython-310.pyc
src/models/__pycache__/model_params.cpython-310.pyc
src/models/siamese/__pycache__/siamese_models.cpython-310.pyc
src/visualisation/__pycache__/clusters.cpython-310.pyc
src/visualisation/__pycache__/KNN.cpython-310.pyc
src/visualisation/__pycache__/make_embeddings.cpython-310.pyc
